# data files
*.csv
*.json
*.parquet

# database
*.db

# caches
.cache
__pycache__

# configuration
.vscode

# checkpoints
checkpoints

# logs
logs

# environment
venv
env
*.env

# other build files
custom_deps
build
**/*.egg-info
